.client-containers{
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}

.profile{
    display: flex;
    gap: 2rem;
}

.profile div{
    margin-top: 2rem;
    text-wrap: nowrap;
}

.profile h2{
    font-size: 2rem;
    font-weight: bold;
}


.profile h4{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.profile img{
    width: 40%;
}

.profile img,
.buttons button{
    border-radius: 5px;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.buttons button{
    background-color: #273176;
    color: #ffff;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    text-wrap: nowrap;
    transition: ease-in-out 1s;
} 

.buttons button:hover,
.buttons .disable{
    background-color: #525c9e;
}

.buttons .disable{
    color: #b6b7c0;
}

.icon{
    transition: ease-in-out 1s;
}

.icon:hover{
    color: #8c95d4;
    transform: scale(.8);
}

@media screen and (width <= 850px){
    .client-containers{
        gap: 0rem;
        flex-direction: column;
    }
    
    .client-containers {
        flex-wrap: wrap;
    }

    .client-containers img{
        border-radius: 15rem;
    }  
}

/*@media screen and (width <= 586px){
    .profile{
        gap: .5rem;
    }
    .profile h2{
        font-size: 6vmin;
    }

    .profile h4{
        font-size: 4vmin;
    }

    .profile p,
    .buttons button{
        font-size: 3vmin;
    }
}
*/
@media screen and (width <= 595px){
    .profile{
        flex-wrap: wrap;
    }

    .profile img{
        width: 100%;
        border-radius: 0rem;
    }
}

